.join-main{
    min-height: 100vh;
    display: grid;
    place-content: center;
    box-sizing: border-box;
    box-shadow: 25px 30px 55px #1e1e1e;
}
.join-content{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: row; 
}
.left-container{
    height: 500px;
    width: 600px;
}
.right-container{
    height: 500px;
    width: 400px;
    overflow-y: scroll;
    box-shadow: 25px 30px 55px #1e1e1e;
    border-radius: 13px;
    overflow: hidden;
}
.left-heading{
    text-wrap:wrap;
}
.join-button{
    background-color: #1e1e1e;
    color: white;
    position: relative;
    bottom: 38px;
    left: 247px;
}
.create-button{
    background-color: #1e1e1e;
    color: white;
}