.profile-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 54vh;
}
.buttons{
    display: flex;
    justify-content: space-evenly;
    width: 60%;
}