*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
  text-decoration: none;
  list-style: none;
}



:root{
  --bg-color: #1e1e1e;
  --text-color: #fff;
  --main-color:#542679;
}

/* body{
  min-height: 100vh;
  background: var(--bg-color);
  color: var(--text-color);
} */

.Navbar-header{
  /* position: fixed; */
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: transparent;
  /* padding: 20px 12%; */
  transition: all .50s ease;
  background: var(--bg-color);
}

.Navbar-logo {
 object-fit: contain;
 height: 30px;
}

.Navbar-logo i{
  color: var(--main-color);
  font-size: 28px;
  margin-right: 3px;

}

.Navbar-logo  span{
  color: var(--text-color);
  font-size: 1.1rem;
  font-weight: 600;
}
.Navbar-logo img{
  width: 100%;
  height: 80px;
}

.Navbar li{
  text-decoration: none;
 
}

.Navbar {
  display: flex;
}

.Navbar a{
  color: var(--text-color);
  font-size: 1.1rem;
  font-weight: 500;
  padding: 5px 0;
  margin: 0px 30px;
  transition: all .50s ease;
  text-decoration: none;
}

.Navbar a:hover{
  color: var(--main-color);

}

.Navbar a.Navbar-active{
  color: var(--main-color);
}

.Navbar-main{
  display: flex;
  align-items: center;

}

.Navbar-main a{
margin-right: 25px;
margin-left: 10px;
color: var(--text-color);
font-size: 1.1rem;
font-weight: 500;
transition: all .50s ease;
}


.Navbar-user{
  display: flex;
  align-items: center;
  text-decoration: none;
}

.Navbar-user i{
  color: var(--text-color);
  font-size: 28px;
  margin-right: 7px;
}

.Navbar-user i:hover{
  color: var(--main-color);
}

.Navbar-main a{
  color: var(--text-color);
}

.Navbar-main a:hover{
  color: var(--main-color);
}

#Navbar-menu-icon{
  font-size: 35px;
  color: var(--text-color);
  cursor: pointer;
  z-index: 10001;
  display: none;
}


@media (max-width: 1280px){
  .Navbar-header{
      padding: 14px 2%;
      transition: .2s;

  }

  .Navbar a{
     padding: 5px;
     margin: 0px 20px;

  }
}
.navbar-brand {
  font-size: unset;
  height: 3.5rem;
}
.navbar-brand img{
  object-fit: contain;
  height: 3.5rem;
}





